body .container-fluid {
	margin: unset;
	padding: unset;
}
h1,
.agency,
.akita {
	color: #fff;
}
h2 {
	padding: 10px 0;
}
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
}
.header h1 {
	font-size: 100px;
	z-index: 1;
	position: absolute;
}
.img-header {
	opacity: 0.6;
	z-index: 0;
}
.agency {
	background: #11749e;
	color: #fff;
}
.agency-header h2 {
	font-size: 50px;
	color: #fff;
	text-align: center;
	z-index: 1;
}
.akita-one,
.akita-two {
	margin: auto 0;
}
.akita-one-text {
	color: #fff;
	background: #000;
}
.akita-two-img,
.akita-one-img {
	width: 655px;
	height: 277px;
}
.akita-two-text {
	color: #000;
	background: #f3f3f3;
}
.akita-two h3 {
	color: #000;
	background: #f3f3f3;
}
.blog-heading {
	display: flex;
    flex-direction: column;
    align-items: center;	
}
.blog-heading h2 {
	z-index: 1;
}
.blog-items {
	display: contents;
}
.blog-items h3 {
	color: #11749e;
}
.sidebar {
	background: #11749e;
	color: #fff;
	padding: 30px;
}
@media screen and (max-width: 768px) {
	.header h1 {
		font-size: 75px;
	}
	.agency h2 {
		font-size: 40px;
	}
}
@media screen and (max-width: 425px) {
	.header h1 {
		font-size: 50px;
	}
	.agency h2 {
		font-size: 30px;
	}
}
.layer-team {
    z-index: 2;
    position: relative;
    background-color: #fff;
    max-width: 70%;
    top: -50px;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    color: #7C8389;
}
.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.
    1);
  transition: 1s transform;
}
.team {
    height: auto;
    background-color: #f5f5f5;
    overflow: auto;
    text-align: center;
}
.left {
	float: left;
 	margin-top: 75px;
 	margin-right: 20px; 
}
.akita-one-img {
    background-image: url(../assets/img/akita_1.jpg);
    background-size: cover;
}
.akita-two-img {
	background-image: url(../assets/img/akita_2.jpg);
    background-size: cover;
}
.form {
	background-image: url(../assets/img/message_1.jpg);
	background: #000;
	opacity: 0.6;
}
.form{
    height: auto;
    background-image: url(../images/message_1.jpg);
    color: #fff;
    opacity: 0.6;
    text-align: center;
}
.copyright {
	background: #222222;
	color: #fff;
}


.m_50 {
	margin: 50px;
}
.mt_100 {
	margin-top: 100px;
}
.mt_50 {
	margin-top: 50px; 
}
.mt_100 {
	margin-top: 100px;
}
.mt_100 {
	margin-bottom: 100px;
}
.mb_100 {
	margin-bottom: 100px;
}
.mb_50 {
	margin-bottom: 50px; 
}
.p_50 {
	padding: 50px;
}
.pt_100 {
	padding-top: 100px;
}
.pt_50 {
	padding-top: 50px; 
}
.pb_100 {
	padding-bottom: 100px;
}
.pb_50 {
	padding-bottom: 50px; 
}
